
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command List</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="ping.html">Ping</a></li>
                <li><a href="https://discord.gg/ACYkvSh25f" target="_blank">Discord</a></li>
                <li><a href="https://youtube.com/@IOOOkg" target="_blank">Youtube</a></li>
                <li><a href="command.html">Command</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Command List</h1>
        <ul>
            <li>/xp - あなたや他の人、もしくはBotのXPとレベルを表示します。</li>
            <li>/ping - Botの現在のpingと起動時間を表示します。</li>
            <li>/quote - ランダムに名言を返します。</li>
            <li>/gacha - ガチャを引きます。</li>
            <li>/server - サーバーの情報を表示します。</li>
            <li>/youtube - IOOOkg様のYTチャンネルを表示します。</li>
            <li>/discord_invite - この鯖のdiscord招待リンクを表示します。</li>
            <li>/hello - 挨拶するコマンドです。</li>
        </ul>
    </main>
</body>
</html>
